<h3><i class="fas fa-book-reader"></i> Dear Diary</h3>
<div class="section">
    <p class="lead">Your personal Diary that can hold Private entries or Public stories that you can share with the community</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="google-btn btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
    {{!-- <div class="fb-login-button darken-1" 
        data-height="36px" 
        data-width="214px" 
        data-size="large" 
        data-button-type="continue_with" 
        data-layout="default" 
        data-auto-logout-link="true" 
        data-use-continue-as="true">
    </div> --}}
</div>